@use "../base/fonts";
@use "../abstract/variables" as v;

h1 {
    font-family: "Ubuntu";
    font-size: clamp(64px, 2.5vw + 56px, 104px);
    font-weight: 700;
    line-height: 1.0;
    color: v.$primaryCream;
}

h3 {
    font-family: "Quicksand";
    font-size: clamp(24px, 1.5vw + 19.2px, 48px);
    font-weight: 600;
    line-height: 1.0;
    color: #F5F5DC;
}

h4 {
    font-family: "Ubuntu";
    font-size: clamp(24px, 0.5vw + 22.4px, 32px);
    font-weight: 500;
    line-height: 1.0;
    color: v.$primaryCream;
}