@use "../../../styles/abstract/mixins" as m;
@use "../../../styles/abstract/variables" as v;

.hero__headline {
  padding: 112px 0 64px;
  overflow-wrap: break-word;

  @include m.breakpoint(1080px) {
    width: 300px;
  }

  @include m.breakpoint(600px) {
    padding: 48px 0 16px;
    width: 240px;
  }

  h3 {
    padding-bottom: 8px;
  }
}

.hero__cookbook {
  position: absolute;
  top: 78%;
  left: 64px;
  @include m.flexR($gap: 16px);
  overflow-wrap: break-word;

  @include m.breakpoint(1080px) {
    width: 300px;
    align-items: flex-start;
    flex-direction: column;

    h4 {
      padding: 0 16px;
    }
  }

  @include m.breakpoint(768px) {
    left: 32px;
  }

  @include m.breakpoint(600px) {
    width: 240px;
    left: 16px;
    align-items: flex-start;
    flex-direction: column;

    h4 {
      padding: 0;
    }
  }
}

.hero__img {
  position: absolute;
  top: 0;
  right: 48px;
  height: 100vh;

  @include m.breakpoint(1220px) {
    right: -80px;
  }

  @include m.breakpoint(800px) {
    right: -240px;
  }
}