@use "./app/styles/abstract/index";
@use "./app/styles/abstract/mixins" as m;
@use "./app/styles/abstract/variables" as v;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    @include m.flexC($justify: flex-start)
}

body {
    width: 100%;
    max-width: 1920px;
    min-height: 100vh;
}

.header__logo--dark {
    display: none;
}

.header__logo--light {
    display: none;
}

body.home {
    position: relative;
    height: 100vh;
    padding: 0 68px;
    overflow-x: hidden;
    background-color: v.$primaryGreen;

    .header__logo--light {
        display: block;
    }
}